.requestRow{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr auto;
    align-items: center;
    gap: 16px;
    padding: 12px;
    border-bottom: 1px solid #e0e0e0  ;
    background-color: #CB81FF;
}

.titleCell{
    display: flex;
    align-items: center;
    gap: 8px;
}

.statusCell{
    display: flex;
    align-items: center;
}

.status {
    display: flex;
    align-items: center;
    gap: 4px;
    opacity: 0.5;
  }

.status.active {
  opacity: 1;
  font-weight: 500;
}

.deleteButton {
    background: white;
    border: none;
    cursor: pointer;
    padding: 4px;
  }

  